body {
  font-size: 25px;
    background-color:#603912;
  font-family: 'cursive';
color: black;

}

/** HEADER **/
#header-nav {
  background-color:#a87c4f;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: white;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
 
  }
.navbar-header button.navbar-toggle {
	
  clear: both;
  margin-top: -40px;
}
section {
position: absolute;
   
    border: 1px solid black;
        margin-top: 10px;
    margin-bottom: 15px;
      background-color: lightyellow;
     overflow: auto;
      height: 1000px;
     	}
/**OUR Menu**/
#title{
	border: 1px dashed #c4996c;
	border-radius: 100px;
	width: 50%;
	height:40px;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	 background-color: #c4996c;
	 float:none;
	 overflow: auto;
}
#text{
	font-weight:normal;
	font-family: 'cursive';

}

